
.footer{
    font-family: Rubik;
    letter-spacing: 0em;
    background-color: #222E3C;
    font-size: 1rem;
    font-weight: 400;
    color:white !important;
    line-height: 1.5rem;
    text-align: left;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-top: 2.5rem !important;
}

.footer-content{
    font-size: 0.875rem;
    line-height: 1.3125rem;
    font-family: Inter !important;

}

.footer-content img{
    width: 90%;
    height: 80px;
    margin-bottom:1rem;
    object-fit: cover;
}

.sologan{
    font-size: 1rem;
    line-height:1.5rem;
    overflow-wrap: break-word;
}

.social-link a{
    margin-right:1rem;
    z-index: 1;

}

.social-link a i {
    border-radius: 50%;
    font-size: 1.5rem;
    color:white;
    /* text-decoration: none; */
  }


.footer-content ul{
    list-style: none;
}

.footer-content ul li{
    margin-bottom:1rem;
}

.footer-content ul li a{
    font-size: 1rem;
    /* font-weight: 200; */
    line-height: 1.5rem;
    text-decoration: none;
    color: inherit;
}

@media only screen and (max-width: 991px) {
    .sologan-col {
        margin-left: -2.5rem !important;
    }
}

@media only screen and (max-width: 767px) {
    .sologan-col {
        margin-left: 0rem !important;
    }

    .footer-content ul{
        padding-inline-start:0rem;
    }
}


@media only screen and (max-width: 575px) {
    .footer-content{
        margin-top: 2rem;
    }
    .footer-content p {
        margin-left: -1rem !important;
    }
}


@media only screen and (max-width: 767px){
    .ex-pages{
        margin-top: 1rem;
    }
}


.footer-content p{
    width:15.35rem !important;
    font-size: 1rem;
    line-height: 1.5rem;
}

@media only screen and (max-width:574px){
    .address{
        margin-left: 1rem;
    }
}

.basic-info{
    margin-bottom:2rem;
}

.footer-content p i {
    padding-right:0.8rem;
}

.footer-bottom{
    margin-left:auto;
    margin-right:auto;
    margin-top:1.5rem;
    border-top:2px solid #FFCC06;
    width:85%;
    align-items: center;
    padding: 1rem 0rem 0rem 0rem;
} 

.footer-bottom a {
    text-decoration: none;
    color:white;
}

.footer-bottom a:hover {
    color:rgb(58, 223, 163);
    text-decoration:none; 
    cursor:pointer;  
}